@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  position: relative;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}

.messagebox {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messagebox .item-messagebox {
  background-color: #222;
  border: 2px solid white;
  position: relative;
  width: 52.5%;
  height: 25%;
}

.item-messagebox .fa-solid {
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
}

.item-messagebox .item-messagebox-message {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-messagebox .item-messagebox-message h5 {
  line-height: 2rem;
  font-size: 19px;
}

.item-messagebox .item-messagebox-btns {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.item-messagebox-btns .btn-1 {
  background-color: white;
  color: black;
  margin: 0 0.25rem;
  font-weight: bold;
}
.item-messagebox-btns .btn-2 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 0 0.25rem;
  font-weight: bold;
}

.guess-header {
  font-size: 3.75rem;
}

.random-num {
  font-size: 2rem;
}

.secretNumber {
  display: flex;
  justify-content: center;
  position: relative;
}

.secretNumber h1 {
  border: 2px solid white !important;
  background-color: #222;
  color: white;
  width: 11rem;
  font-size: 6rem;
  z-index: 1;
}

.secretNumber::after {
  content: "";
  width: 100%;
  height: 0.65rem;
  background-color: white;
  position: absolute;
  top: 52.5%;
}

.input input {
  border: 2px solid #222;
  height: 10rem;
  width: 14rem;
  text-align: center;
  font-weight: bolder;
  font-size: 7.5rem !important;
}

.highScorebox .highScoreValue {
  background-color: white;
  border: 2px solid #222;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

.restart {
  background-color: white !important;
  color: #222 !important;
  border: 2px solid #222;
}

.btn:hover {
  background-color: #ccc !important;
}

.btn:active{
  transform: translate(-50%);
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .guess-header {
    font-size: 3.5rem;
    position: relative;
  }

  .random-num {
    font-size: 1.8rem;
  }

  .secretNumber h1 {
    border: 2px solid white !important;
    background-color: #222;
    color: white;
    width: 10.75rem;
    font-size: 6rem;
    z-index: 1;
  }
  .messagebox .item-messagebox {
    background-color: #222;
    border: 2px solid white;
    position: relative;
    font-size: 10px;
    width: 57.5%;
    height: 25%;
  }
  .messagebox .item-messagebox h5 {
    font-size: 17.15px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .guess-header {
    font-size: 3.25rem;
    position: relative;
  }

  .random-num {
    font-size: 1.6rem;
  }

  .secretNumber h1 {
    border: 2px solid white !important;
    background-color: #222;
    color: white;
    width: 10.5rem;
    font-size: 5.75rem;
    z-index: 1;
  }

  .input input {
    border: 2px solid #222;
    height: 9.75rem;
    width: 12rem;
    text-align: center;
    font-weight: bolder;
    font-size: 6.5rem !important;
  }

  .highScorebox .highScoreValue {
    background-color: white;
    border: 2px solid #222;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.75rem;
    font-weight: bold;
  }

  .highScorebox h4 {
    font-size: 1.25rem;
  }

  .messagebox .item-messagebox {
    background-color: #222;
    border: 2px solid white;
    position: relative;
    font-size: 10px;
    width: 62.5%;
    height: 25%;
  }
  .messagebox .item-messagebox h5 {
    font-size: 14px;
  }
  .item-messagebox-btns .btn-1 {
    font-size: 16px;
    background-color: white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
  .item-messagebox-btns .btn-2 {
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .guess-header {
    font-size: 2.75rem;
    position: relative;
  }

  .random-num {
    font-size: 1.4rem;
  }

  .secretNumber h1 {
    border: 2px solid white !important;
    background-color: #222;
    color: white;
    width: 10rem;
    font-size: 5.5rem;
    z-index: 1;
  }

  .input input {
    border: 2px solid #222;
    height: 9.5rem;
    width: 11rem;
    text-align: center;
    font-weight: bolder;
    font-size: 6rem !important;
  }

  .highScorebox .highScoreValue {
    background-color: white;
    border: 2px solid #222;
    height: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.65rem;
    font-weight: bold;
  }

  .highScorebox h4 {
    font-size: 1.125rem;
  }
  .messagebox .item-messagebox {
    background-color: #222;
    border: 2px solid white;
    position: relative;
    font-size: 10px;
    width: 70%;
    height: 25%;
  }
  .messagebox .item-messagebox h5 {
    font-size: 11.91px;
  }
  .item-messagebox-btns .btn-1 {
    font-size: 14px;
    background-color: white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
  .item-messagebox-btns .btn-2 {
    font-size: 14px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .guess-header {
    margin-top: 1rem;
    font-size: 2.5rem;
    position: relative;
  }

  .random-num {
    font-size: 1.2rem;
  }

  .secretNumber h1 {
    border: 2px solid white !important;
    background-color: #222;
    color: white;
    width: 9.5rem;
    font-size: 5rem;
    z-index: 1;
  }

  .input input {
    border: 2px solid #222;
    height: 9rem;
    width: 10rem;
    text-align: center;
    font-weight: bolder;
    font-size: 6rem !important;
  }

  .highScorebox .highScoreValue {
    background-color: white;
    border: 2px solid #222;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .highScorebox h4 {
    font-size: 1rem;
  }
  .messagebox .item-messagebox {
    background-color: #222;
    border: 2px solid white;
    position: relative;
    font-size: 10px;
    width: 75%;
    height: 25%;
  }
  .messagebox .item-messagebox h5 {
    font-size: 10.30395px;
  }
  .item-messagebox-btns .btn-1 {
    font-size: 13px;
    background-color: white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
  .item-messagebox-btns .btn-2 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 0 0.25rem;
    font-weight: bold;
  }
}
